form {
    min-width: 90%;
    margin: 20px 50px;
}

fieldset, legend, label, input, textarea {
    font-size: 20px;
    margin: 15px 0;
}

select, option {
    font-size: 17px;
}

.padrao label {
    display: block;
}

.padrao input, .padrao textarea {
    min-width: 570px;
    padding: 10px;
}

.contato label {
    margin-right: 90px;
}

.button {
    font-weight: bold;
    min-width: 500px;
    height: 50px;
    margin: 20px auto;
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all;
    margin-left: 30px;
}

.button:hover {
    background-color: var(--laranja-escuro);
    border-color: var(--laranja-escuro);
    transform: scale(1.1);
}

.padrao select {
    min-width: 260px;
    height: 40px;
}