
header {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cinza);
    padding: 0 20px;
}

.caixa-menu {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a {
    color: var(--black);
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

nav a:hover {
    color: var(--black);
    font-size: 22px;
    text-decoration: underline;
}