/*
background-image: linear-gradient( var(--branco1), var(--cinza) );
*/

.banner {
    width: 100%;
}

.gradiente {
    background-image: linear-gradient( var(--branco) 20%, var(--branco1) 30%, var(--cinza) 50% );
}

.utensilios {
    width: 15%;
    float: left;
    margin-right: 20px;
}

.itens {
    float: left;
    line-height: 2em;
}

.itens li:nth-child(2n) {
    font-weight: bold;
}

.caixa-beneficios {
    max-width: 800px;
    padding: 50px 0;
    margin: 0 auto;
}

.img-beneficios {
    width: 60%;
    float: right;
}

.video {
    clear: left;
    margin-top: 300px;
    text-align: center;
}

.caixa-mapa {
    clear: left;
}

.mapa {
    margin-top: 2em;
}
