.banner {
    width: 100%;
}

.gradiente {
    background-image: linear-gradient( var(--branco) 20%, var(--branco1) 30%, var(--cinza) 50% );
}

.utensilios {
    width: 15%;
    float: left;
    margin-right: 20px;
}

.caixa-principal > p {
    float: right;
    width: calc(85% - 20px);
}

.itens {
    float: left;
    line-height: 2em;
}

.itens li:nth-child(2n) {
    font-weight: bold;
}

.itens li::before {
    content: "🪒 ";
}

.caixa-beneficios {
    max-width: 800px;
    padding: 50px 0;
    margin: 0 auto;
}

.img-beneficios {
    width: 50%;
    float: right;
}

.video {
    clear: left;
    margin-top: 300px;
    text-align: center;
}

.caixa-mapa {
    clear: left;
}

.mapa {
    margin-top: 2em;
}

@media screen and (max-width: 680px) 
{

    body, .caixa-menu, .caixa-principal, .caixa-beneficios, .caixa-mapa {
        width: auto;
        margin: auto;
    }

    .utensilios {
        width: 50%;
        margin: auto;
        display: block;
        float: none;
    }

    .caixa-principal > p {
        float: none;
        margin: 40px auto;
    }

    .caixa-beneficios {
        padding: 0 30px;
        float: none;
    }

    .itens {
        margin-bottom: 50px;
    }

    .img-beneficios {
        float: none;
        margin: auto;
        display: block;
        width: 80%;
    }

    .video {
        margin-top: 50px;
    }
}