
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
*/

:root {
    --branco: white;
    --branco1: #ebebeb;
    --cinza: #bbb;
    --black: black;
    --laranja: orange;
    --laranja-escuro: darkorange;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2em;
    line-height: 4em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.centralizar-texto {
    text-align: center;
}

.caixa-padrao {
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) 
{
    h2 {
        font-size: 1.5em;
        line-height: calc(1.5em * 2);
    }
}